/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: black;
}
body {
  color: #333;
  background-color: #fff;
  font: 100.01%/1 serif;
  margin: 8px auto;
  padding: 8px;
  width: 980px;
  border-radius: 10px;
  border: 2px solid rgba(150, 150, 150, 0.4);
}
article {
  height: 100%;
}
img {
  max-width: 100%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
.site-logo {
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: 40px;
}
.site-logo-text {
  visibility: hidden;
}
.region-header {
  margin-bottom: 20px;
}
.figureright {
  float: right;
  margin-left: 15px;
  margin-right: 4px;
}
.figureleft {
  float: left;
  margin-right: 15px;
  margin-left: 10px;
}
.byline {
  margin-top: 35px;
  border: 1px solid rgba(150, 150, 150, 0.7);
  clear: right;
}
.row {
  clear: left;
  display: block;
}
.region-footer {
  clear: left;
  display: inline;
  width: 100%;
  text-align: center;
}
.region-footer p {
  margin-top: 0.5em;
}
.footer-column-wrappper {
  clear: left;
  display: block;
  margin-bottom: 0.5em;
  clear: both;
}
.footer-column {
  display: inline-block;
  text-align: center;
  padding: 0.5em;
  width: 30.9%;
}
.inner-wrap-main {
  overflow: auto;
}
.region-main {
  width: 100%;
  float: left;
}
.region-main.has-sidebar {
  width: 70%;
}
.region-main.has-sidebar-left.has-sidebar-right {
  width: 60%;
}
.region-sidebar-left,
.region-sidebar-right {
  width: 30%;
  float: left;
}
.region-sidebar-left.region-sidebar-right,
.region-sidebar-right.region-sidebar-left {
  width: 20%;
  float: left;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
